<div class="container">
  <h1>My Info</h1>
  <div ng-if="infoCtrl.isSignedUp">
    <div class="row">
        <div class="col-md-2">Name <span class=" glyphicon glyphicon-user"></span></div>
        <div class="col-md-4">{{ infoCtrl.user.firstname }} {{ infoCtrl.user.lastname }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">e-Mail <span class="glyphicon glyphicon-envelope"></span></div>
        <div class="col-md-4">{{ infoCtrl.user.email }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Phone <span class="glyphicon glyphicon-phone"></span></div>
        <div class="col-md-4">{{ infoCtrl.user.phone }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Favorite Dish <span class=" glyphicon glyphicon-thumbs-up"></span></div>
        <div class="col-md-4">
          <div class="panel panel-default" style="color:black;">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="label label-info">{{ infoCtrl.dish.short_name }}</span> {{ infoCtrl.dish.name }}</h3>
            </div>
            <div class="panel-body">
              <img src="{{ infoCtrl.image }}"/><br />
              {{ infoCtrl.dish.description }}
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="row" ng-if="!(infoCtrl.isSignedUp)">
    <div class="col-md-12">
      Not Signed Up Yet. <a ui-sref="public.signUp" class="btn btn-primary">Sign up Now!</a>
    </div>
  </div>

</div>
